<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <!--formGroupName=""-->
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control">
                        <div *ngIf="recipeForm.get('name').invalid && recipeForm.get('name').touched" class="form-group alert alert-danger" name="nameErrors">
                            <p *ngIf="recipeForm.get('name').errors['required']">Name is mandatory</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" formControlName="imageUrl" class="form-control">
                        <div *ngIf="recipeForm.get('imageUrl').invalid && recipeForm.get('imageUrl').touched" class="form-group alert alert-danger">
                            <p *ngIf="recipeForm.get('imageUrl').errors['pattern']">Format of url invalid.</p>
                            <p *ngIf="recipeForm.get('imageUrl').errors['required'] || recipeForm.get('imageUrl').errors['required2']">URL is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="recipeForm.get('imageUrl').valid">
                <div class="col-xs-12">
                    <img [src]="recipeForm.get('imageUrl').value" class="img-responsive">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea rows="6" formControlName="description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i" style="margin-top:10px;">
                        <div class="col-xs-8">
                            <input type="text" rows="6" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" rows="6" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button type="number" class="btn btn-danger" (click)="onRemoveIngredient(i)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()" [disabled]="recipeForm.get('ingredients').invalid">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>